node_modules/
data/
.vscode/
*.bak
bandai-*.js
card.js
download-images.js
meta-by-series copy.js
optcg/
split_events.js
stats-*.js
stats-*.html
top-20.js
tournament.js
utils.js
archetype-grid.js
archetype-utils.js
archetype-renderer.js
meta-by-series.js
meta-by-series.html
meta-by-series.css
tournament-all.js
eslint.config.js
package.json
package-lock.json
